*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #250b0b;
}
h1 , h2 , h3 , p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}

.header-main{
    background-color: #ffffff;
    display: flex;
    height: 8vh;
    align-items: center;
    padding: 0.7rem 1.9rem;
    justify-content: flex-start;
}
.card-container{
    background-color: #ffffff;
    min-width: 150px;
    height: 50px;
    padding: 4.5rem 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 120px;
    border-radius: 0.4rem;
    margin-bottom: 0.8rem;
}
.card-container span{
    color: #70747a;
    font-weight: 200;
    font-size: 0.9rem;
}
.card-img{
    width: 1.2rem;
    height: 1.2rem;
    float: right;
    border-radius: 50%;
}
.card_set{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.displaybx{
    display: flex;
    height: 1.8rem;
    align-items: center;
    padding: 0 0.7rem;
    justify-content: space-between;
    border: rgba(204,205,207,255) solid 1px;
    border-radius: 0.4rem;
    transition: filter 300ms;
}
.displaybx:hover{
    filter: brightness(1.2);
}
.drop_down{
    position: absolute;
    top: 58px;
    width: 300px;
    background-color: #ffffff;
    border: rgba(204,205,207,255) solid 1px;
    border-radius: 0.4rem;
    padding: 1rem;
    z-index: 1000;
    overflow: hidden;
}

.drop-down-item{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
}
.drop-down-item p{
    color: #626262;
}
.stylep{
    font-size: 1rem;
    font-weight: 300;
    border: rgba(204,205,207,255) solid 1px;
    border-radius: 0.2rem;
    display: inline;
    margin-right: 4px;
    padding: 0.2rem;
}

.profile-image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #2b963a;
  border-radius: 50%;
}
.available{
    color: rgb(255, 196, 0);
    line-height: 1px;
    font-size: 2rem;
    position: absolute;
    transform: translate(13px, -1px);
}
.drop-down-item select{
    width: 40%;
    background-color: white;
    height: 1.8rem;
    border-radius: 0.4rem;
    padding: 0.1rem 0.5rem;
    
}
.board{
    padding: 0.8rem;
    display: flex;
    /*width: 100%;*/
    justify-content: space-evenly;
}
.grid-col{
    width: 19%;
    margin: 0 0.5rem;
    margin-top: 0.5rem;
}

.card-container h3{
    font-size: 1rem;
    margin: 0.5rem 0;
}
.card-container p{
    font-size: 0.7rem;
    font-weight: 300;
    border: rgba(204,205,207,255) solid 1px;
    border-radius: 0.2rem;
    display: inline;
    margin-right: 4px;
    padding: 0.2rem;
}
.grid-col-head{
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
}

.loader-div{
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* responsive*/
@media only screen and (max-width: 850px) {
    .main-board{
        flex-direction: column;
        flex-wrap: wrap;
    }    
    .grid-col{
        margin: 1rem 0;
        border-bottom: #c6c6c6 1px solid;
        width: 100%;
        padding: 0 1rem;
       
    }
}